.sq-button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;
    height: 50px;
    width: 130px;
}

.sq-button:hover {
    background-color: var(--green-2);
}

.sq-button:focus {
   outline: none;
}

.sq-button:disabled, .sq-button:disabled:hover {
    background-color: var(--green-3);
    cursor: default;
    opacity: 0.6;
}


.sq-button:active {
    transform: translate(0px, 1px);
}

.sq-button.disabled:active {
    transform: none;
}

.sq-button__green {
    background-color: var(--green-3);
}

.sq-button__blue {
    background-color: var(--blue-1);
}