.sq-button {
    display: inline-block;
    border: none;
    border-radius: 5px;
    transition: box-shadow .1s ease-in-out;
    cursor: pointer;
    height: 50px;
    width: 130px;
}

.sq-button.loading {
    background: var(--grey-4);
    border: solid 1px var(--grey-3);
}

.sq-button.loading:hover {
    background: var(--grey-4);
    border: solid 1px var(--grey-3);
}

.sq-button.loading .sq-button--spinner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}

.sq-button--spinner {
    display: none;
    height: 100%;
    color: var(--grey-2);
}
 
.sq-button--spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: calc(50% + 1px);
  left: 20px;
  width: 17px;
  height: 17px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 3px solid rgba(255,255,255,0.5);
  border-top-color: var(--grey-2);
  border-bottom-color: var(--grey-2);
  border-left-color: var(--grey-2);
  animation: spinner 0.9s linear infinite;
}

.sq-button:hover {
    background-color: var(--green-2);
}

.sq-button:focus {
   outline: none;
}

.sq-button:disabled, .sq-button:disabled:hover {
    background: var(--grey-4);
    border: solid 1px var(--grey-3);
    cursor: default;
}


.sq-button:active {
    transform: translate(0px, 1px);
}

.sq-button.disabled:active, .sq-button.loading:active {
    transform: none;
}

.sq-button__green {
    background-color: var(--green-3);
}

.sq-button__blue {
    background-color: var(--blue-1);
}