.sq-button-group--wrapper {
    display: flex;
    justify-content: center;
}

.sq-button-group--button {
    cursor: pointer;
    border: 1px solid var(--grey-3);
    padding: 10px 34px 10px 34px;
    margin-right: -1px;
}

.sq-button-group--button:first-of-type {
    border-radius: 5px 0 0px 5px;
}

.sq-button-group--button:last-of-type {
    border-radius: 0px 5px 5px 0px;
}

.sq-button-group--button.selected {
    border: 1px solid var(--blue-2);
    z-index: 2;
    background-color: var(--grey-5);
}