.sq-class-card {
    background: white;
    width: 115px;
    height: 110px;
    border: solid 1px var(--grey-3);
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px 0 rgba(225,225,225,0.50);
}

.sq-class-card:hover {
    /*border: solid 1px var(--blue-2);*/
}

.sq-class-card--status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: var(--yellow-1);
    align-self: center;
}

.sq-class-card--status-indicator.hidden {
    visibility: hidden;
}

.rc-tooltip-inner {
    background-color: var(--yellow-2);
    border: solid 1px var(--yellow-1);
    padding: 0px;
    width: 105px;
    height: 25px;

}

.rc-tooltip-arrow {
    border-top-color: var(--yellow-1)!important;
}

.sq-class-card--status-tooltip {
    background-color: var(--yellow-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 11px;
    text-align: center;
}

.sq-class-card--header {
    width: 100%;
    height: 25px;
    padding: 2px 2px 2px 8px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.sq-class-card--edit {
    opacity: 1;
    text-align: right;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

.sq-class-card--edit:hover, .sq-class-card--edit:focus {
    background: var(--grey-4);
}

.sq-class-card--icon {
    display: flex;
    justify-content: center;
    user-select: none;
}

.sq-class-card--icon img {
    user-drag: none; -moz-user-select: none; -webkit-user-drag: none;
}

.sq-class-card--label {
    padding-top: 5px;
    text-align: center;
}

.clearfix:before,
.clearfix:after {
    content: ".";    
    display: block;    
    height: 0;    
    overflow: hidden; 
}
.clearfix:after { clear: both; }
.clearfix { zoom: 1; } /* IE < 8 */