.sq-create-class-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  min-height: 500px;
}

.sq-create-class-form .sq-button-group--wrapper {
  margin-top: 50px;
}

.sq-create-class-form--header {
  width: 350px;
  text-align: left;
  margin: auto;
}

.sq-create-class-form--header .sq-basic-input {
  width: 100%;
  margin-top: 10px;
}