.sq-subnav {
    min-height: 70px;
    background: white;
    border-bottom: 1px solid var(--grey-4);
}

.sq-subnav--content {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.sq-subnav-left-wrapper {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.sq-subnav--app-name {
    padding-left: 15px;
    align-self: center;
}

.sq-subnav--status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: var(--yellow-1);
    align-self: center;
}

.sq-subnav--status-indicator.published {
    background: var(--green-2);   
}

.sq-subnav--status-indicator.hidden {
    visibility: hidden;
}

.sq-tooltip-overlay .rc-tooltip-inner {
    background-color: var(--yellow-2);
    border: solid 1.5px var(--yellow-1);
    border-radius: 3px;
    padding: 0px;
    width: 105px;
    height: 25px;
}

.sq-tooltip-overlay .rc-tooltip-arrow {
    border-top-color: var(--yellow-1)!important;
}

.sq-tooltip-overlay.trained .rc-tooltip-inner {
    background-color: #D7FFE4;
    border: none;
    border-radius: 3px;
    padding: 0px;
    width: 105px;
    height: 25px;
}

.sq-tooltip-overlay.trained .rc-tooltip-arrow {
    border-top-color: #88E9BC!important;
}

.sq-subnav--status-tooltip {
    background-color: var(--yellow-2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.sq-subnav--status-tooltip.trained {
    background-color: #D7FFE4;
    border: solid 1px#88E9BC;
    border-radius: 4px;
}

.sq-subnav--buttons {
    display: flex;
    align-self: center;
}

.sq-subnav--button {
    display: flex;
    margin: 0px 40px;
    cursor: pointer;
}

.sq-subnav--icon {
    padding-right: 15px;
}

.sq-subnav--button:hover {
    filter: brightness(95%);
}

.sq-subnav--progress-bar {
    width: 0;
    height: 5px;
    border-radius: 2px;
    background: var(--green-4);
}

.sq-subnav--progress-bar.animate {
    animation: expandWidth 2s ease-out;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 110%;
    }
}