.sq-subnav {
    min-height: 70px;
    background: white;
    border-bottom: 1px solid var(--grey-4);
}

.sq-subnav--content {
    display: flex;
    justify-content: space-between;
    min-height: 70px;
}

.sq-subnav--app-name {
    align-self: center;
    margin-left: 40px;
}
.sq-subnav--buttons {
    display: flex;
    align-self: center;
}

.sq-subnav--button {
    display: flex;
    margin: 0px 40px;
    cursor: pointer;
}

.sq-subnav--icon {
    padding-right: 15px;
}

.sq-subnav--progress-bar {
    width: 0;
    height: 5px;
    border-radius: 2px;
    background: var(--green-4);
}

.sq-subnav--progress-bar.animate {
    animation: expandWidth 2s linear;
}

@keyframes expandWidth {
    0% {
        width: 0;
    }
    100% {
        width: 110%;
    }
}