<html>
<body>
    <center>
        <h1>Welcome to Sqwak!</h1>
        <button onclick="document.location.href='/login'">Login</button>
        <button onclick="document.location.href='/signup'">Signup</button>
    </center>
</body>
</html>