<html>
    <body>
        <form action="/login" autocomplete="off" method="post">
            <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
            <input style="display:none" type="text" name="username"/>
            <input style="display:none" type="password" name="password"/>
            <input type="text" placeholder="username..." name="username">
            <input type="password" placeholder="password..." name="password">
            <input type="submit">
        </form>
        Messages: <%= flash.error %>
    </body>
</html>