.sq-apps-page {
    background: var(--grey-5);
}

.sq-apps-page--content {
    width: 1020px;
    height: 100%;
    margin: auto;
}

.sq-apps-page--header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

.sq-apps-page--header .sq-button--squishy {
    align-self: center;
    margin-bottom: 5px;
}

.sq-apps-page--app-grid {
    display: flex;
    flex-wrap: wrap;
}

.sq-apps-page--app-grid .sq-app-preview-card:nth-child(1) {
    margin-left: 0px;
}

.sq-apps-page--app-grid .sq-app-preview-card:nth-child(3n) {
    margin-right: 0px;
}

.sq-apps-page--app-grid .sq-app-preview-card:nth-child(3n+1) {
    margin-left: 0px;
}