@font-face {
  font-family: 'FaktSoft';
  src: url('../fonts/FaktSoftPro-Normal.woff')  format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'FaktSoft-Medium';
  src: url('../fonts/FaktSoftPro-Medium.woff')  format('truetype');
}

@font-face {
  font-family: 'FaktSoft-Blond';
  src: url('../fonts/FaktSoftPro-Blond.woff')  format('truetype');
}
