.sq-landing--above-fold {
    background-image: radial-gradient(ellipse farthest-corner at 100% 0px, #DCFAFA 0%, #73E7EE 95%);
}

.sq-landing--nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 40px;
}

.sq-landing--login-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 35px;
    cursor: pointer;
    text-decoration: none;
    color: var(--font-color-primary-dark);
    padding: 7px 26px;
    border: 1px solid #9FDED7;
    border-radius: 5px;
}

.sq-landing--login-link:hover {
    background: #43E1ED;
    border: 1px solid #50E5EF;
    color: white;
}

.sq-landing--signup-link {
    background: var(--red-2);
    padding: 7px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    cursor: white;
}

.sq-landing--signup-link.bigger {
    padding: 10px 25px;
}

.sq-landing--signup-link:hover {
    background: var(--red-1);
}

.sq-landing--hero {
    height: 520px;
}

.sq-landing--hero-bird {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sq-landing--hero-bird img {
    height: 100%;
}

.sq-landing--hero-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
    justify-content: center;
}

.sq-landing--hero-info .sq-landing--signup-link {
    align-self: center;
}

.sq-landing--title {
    width: 400px;
    display: block;
    margin: 0px auto;
}

.sq-landing--prompt {
    width: 300px;
    display: block;
    text-align: center;
}

.sq-landing--hero {
    display: flex;
    justify-content: center;
}

.sq-landing--ruffles {
    width: 100%;
    height: 10px;
    background-image: url(../../assets/images/one-ruffle.svg);
    position: relative;
    z-index: 100;
    margin-top: -9px;
}

.sq-landing--body {
    background: white;
    text-align: center;
    background: white;
}

.sq-landing--body--main-header {
    margin-top: 130px;
}

.sq-landing--body--main-header .sq-text:first-of-type {
    font-size: 24px;
    letter-spacing: 1.8px;
}

.sq-landing--body--main-header .sq-text:last-of-type {
    color: var(--grey-2);
    font-size: 16px;
}

.sq-landing--slider-wrapper {
    max-width: 1020px;
    margin: auto;
    margin-top: 100px;
}

.sq-landing--partners {
    background-color: var(--grey-4);
}

.sq-landing--partners--header {
    padding: 50px 0px;
}


.sq-landing--partners--header .sq-text__lg {
    color: var(--grey-2);
}

.sq-landing--partners--footer {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.sq-landing--partners--footer .sq-landing--signup-link {
    margin-left: 50px;
    padding: 15px 20px;
}

.sq-landing--partners--footer .sq-text {
    align-self: center;
}

.sq-landing--partner-list {
    background: white;
    border-top: solid 1px var(--grey-3);
    border-bottom: solid 1px var(--grey-3);
}

.sq-landing--partner-list-content {
    width: 1020px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding: 50px 0px;
}

.sq-landing--partner-list-content img {
    width: 12%;
}

.sq-landing--footer {
    width: 1020px;
    background: white;
    margin: auto;
    padding-top: 200px;
    padding-bottom: 50px;
}

.sq-landing--footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.sq-landing--footer-header {
    padding-bottom: 20px;
    letter-spacing: 1px;
}
.sq-landing--footer-sqwak {
    display: flex;
    flex-direction: column;
}

.sq-landing--footer-sqwak img {
    height: 35px;
    align-self: flex-start;
    margin-bottom: 20px;
}

.sq-landing--footer-sqwak-description {
    margin-bottom: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.sq-landing--footer hr {
    width: 100%;
    height: 1px;
    background: var(--grey-3);
    border: none;
    margin: 0px;
}

.sq-landing--footer-company {
    display: flex;
    flex-direction: column;
}

.sq-landing--footer-company a {
    margin: 10px 0px;
    text-decoration: none;
    color: var(--grey-1);
    letter-spacing: 2px;
}

.sq-landing--footer-address {
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 25px;
    letter-spacing: 1.4px;
}

.sq-landing--contact-icons {
    display: flex;
}

.sq-landing--contact-icon-wrapper {
    background: var(--grey-4);
    border-radius: 7px;
    min-width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    margin-right: 20px;
}

.sq-landing--contact-icon-wrapper:hover {
    background: var(--blue-4);
}

.sq-landing--footer-company a:hover {
    color: var(--blue-1);
}

.sq-landing--footer-kots img {
    margin-bottom: 25px;
    align-self: flex-start;
}

.sq-landing--footer-kots {
    display: flex;
    flex-direction: column;
}

.sq-landing--footer-kots .sq-text__lg {
    margin-bottom: 20px;
}

.sq-landing--footer-kots a {
    text-decoration: none;
    color: var(--grey-1);
    margin-bottom: 30px;
}

.sq-landing--footer-kots a:hover {
    color: var(--blue-1);
}
.sq-landing--footer-footer {
    display: flex;
    justify-content: space-between;
    border-top: solid 1px var(--grey-3);
}
.sq-landing--steps-mobile {
    display: none;
}
.sq-landing--footer-mobile {
    display: none;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    .sq-landing--nav {
        justify-content: space-between;
    }

    .sq-landing--login-link {
        border: none;
    }

    .sq-landing--hero {
        flex-direction: column-reverse;
    }

    .sq-landing--hero-info {
        margin-top: 50px;
    }

    .sq-landing--hero-info button {
        display: none;
    }

    .sq-landing--title {
        width: 80%;
    }

    .sq-landing--body--main-header {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
    .sq-landing--body--main-header .sq-text:last-of-type {
        display: none;
    }

    .sq-landing--slider-wrapper {
        display: none;
    }
    
    .sq-landing--steps-mobile {
        width: 80%;
        margin: auto;
        text-align: left;
        display: block;
    }
    
    .sq-landing--steps-mobile img {
        width: 100%;
    }
    
    .sq-landing--steps-mobile--step {
        margin-bottom: 70px;
    }
    
    .sq-landing--steps-mobile .sq-landing-preview--description-number {
        margin: auto;
        margin-bottom: 35px;
        margin-top: 30px;
    }
    
    .sq-landing--steps-mobile .sq-text__xl {
        margin-top: 40px;
        margin-bottom: 15px;
        text-align: center;
    }

    .sq-landing--partner-list-content {
        width: 90%;
        flex-wrap: wrap;
        margin: auto;
    }
    .sq-landing--partner-list-content img {
        width: 40%;
    }
    
    .sq-landing--partner-list-content img:nth-child(1), .sq-landing--partner-list-content img:nth-child(2) {
        margin-bottom: 40px;
    }

    .sq-landing--partners--footer {
        flex-direction: column;
        width: 80%;
        margin: auto;
    }
    .sq-landing--partners--footer .sq-landing--signup-link {
        margin: auto;
        margin-top: 30px;
    }
    .sq-landing--footer-company {
        display: none;
    }
    .sq-landing--footer-contact {
        display: none;
    }
    .sq-landing--footer {
        width: 100%;
    }
    .sq-landing--footer-content {
        flex-direction: column;
    }
    .sq-landing--footer-sqwak {
        width: 80%;
        margin: auto;
    }
    .sq-landing--footer-sqwak img {
        height: 55px;
        margin: auto;
    }
    .sq-landing--footer-kots {
        display: none;
    }
    .sq-landing--footer-sqwak-description {
        font-size: 20px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .sq-landing--footer-sqwak-description br {
        display: none;
    }
    .sq-landing--footer {
        padding-top: 100px;
    }
    .sq-landing--footer-footer {
        border: none;
    }
    .sq-landing--footer-footer p {
        width: 100%;
        text-align: center;
    }
    .sq-landing--footer-footer p:last-of-type {
        display: none;
    }
    .sq-landing--footer-mobile {
        text-align: center;
        margin-top: 30px;
        display: block;
    }
    .sq-landing--footer-mobile a {
        text-decoration: none;
        color: var(--grey-1);
    }
    .sq-landing--contact-icon-wrapper {
        width: 50px;
        height: 50px;
    }
    .sq-landing--footer-mobile-icons {
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .sq-landing--footer-mobile-contact {
        margin-top: 100px;
        margin-bottom: 30px;
    }
}