.sq-login-page {
  width: 1000px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.sq-login-page--content {
  margin-top: 130px;
  width: 340px;
  align-self: center;
}

.sq-login-page--footer {
  margin-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.sq-login-page input {
  width: 100%;
  padding-left: 40px;
}

.sq-login-icon {
  position: absolute;
  margin: 18px 15px;
}

.sq-input-wrapper {
  position: relative;
  height: 49px;
  display: flex;
  margin-top: 25px;
}

.sq-login-page-top-icon-wrapper {
  margin-bottom: 20px;
}

.sq-login-top-icon-shadow {
  width: 18px;
  height: 7px;
  background-color: var(--grey-3);
  border-radius: 100px / 50px;
  align-self: center;
  margin: auto;

  animation-name: shrinking;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.sq-login-top-icon {
  padding-bottom: 7px;
  animation-name: bobbing;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-play-state: running;

}

@keyframes bobbing {
   0% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out;
   }

   50% {
       transform: translate(0px, 7px);
       animation-timing-function:ease-in-out;
   }

   100% {
       transform: translate(0px, 0px);
       animation-timing-function:ease-in-out;
   }
}

@keyframes shrinking {
   0% {
       transform: scale(1);
       animation-timing-function:ease-in-out;
   }

   50% {
       transform: scale(0.7);
       animation-timing-function:ease-in-out;
   }

   100% {
       transform: scale(1);
       animation-timing-function:ease-in-out;
   }
}

.sq-login-page--footer button {
  width: 100%;
}